# 자료형
- 수
- 문자열
- 리스트
- 튜플
- 딕셔너리
- 집합

## 수
- 정수형
- 실수형
- 연산

In [1]:
num = 100
print(num)

num = 0
print(num)

num = -100
print(num)

real_num = 100.11
print(real_num)

real_num = -99.11
print(real_num)

real_num = 100.
print(real_num)

real_num = -.99
print(real_num)

100
0
-100
100.11
-99.11
100.0
-0.99

In [2]:
# 차수 표현식
num = 1e9 # 10억 (실수)
print(num)

num = 123.45e1  # 1234.5
print(num)

num = 123.45e-2 # 1.2345
print(num)

1000000000.0
1234.5
1.2345

In [3]:
# 연산
n1, n2 = 8, 5
print(n1/n2)    # 나누기 (실수)
print(n1%n2)    # 나머지 (정수)
print(n1//n2)   # 몫     (정수)
print(n1**n2)   # 거듭제곱

1.6
3
1
32768

In [4]:
# int to str, float
n1 = 10
print(type(10))
print(type(str(10)))
print(type(float(10)))

<class 'int'>
<class 'str'>
<class 'float'>

실수의 경우, 컴퓨터에서는 정확한 값으로 표현하지 못한다는 것을 기억하자.
즉, 0.8이라는 실수가 있다면 컴퓨터는 이 값을 정확히 0.8로 표현 내지 저장하지 못하고 0.7999999... 식으로 저장을 하게 된다.

변수에 직접 실수를 대입하여 출력하는 것에서는 문제가 없지만 실수간 연산의 결과를 출력하거나 또는 실수간 연산을 어떠한 조건에 활용하는 경우 문제가 될 수 있다. 

꼭, 조건에 활용하고 싶은 경우가 있다면 연산 값을 원하는 예측값과의 차이가 오차범위 내 있다는 것을 확인하는 것으로써 조건에 활용할 수 있다. 또는 round 반올림 함수를 활용해 조건에 활용할 수 있다. (보통 파이썬 환경에서는 소숫점 5자리까지 확인해서 같으면 같은 수라고 판단한다고 한다)

In [5]:
n1, n2 = 0.3, 0.6
print(n1+n2) # not 0.9

if n1+n2 == 0.9:
    print('실수가 정확히 연산된다.')
else:
    print('실수가 정확히 연산되지 않았다.')

# 연산 값과 예측 값의 차에 오차범위를 활용
if n1+n2 - 0.9 < 0.000001:
    print('실수가 정확히 연산된다.')
else:
    print('실수가 정확히 연산되지 않았다.')

# round 사용
if round(n1+n2, 4) == 0.9:
    print('실수가 정확히 연산된다.')
else:
    print('실수가 정확히 연산되지 않았다.')

0.8999999999999999
실수가 정확히 연산되지 않았다.
실수가 정확히 연산된다.
실수가 정확히 연산된다.

## 문자열
- 초기화
- 연산

In [6]:
s = 'Hello Python'
print(s)

# same
s = "Hello Python"
print(s)

s = 'Hello \"Python\"'
print(s)

Hello Python
Hello Python
Hello "Python"

In [7]:
# string add
s1 = 'Hello'
s2 = "Python"
s = s1 + ' ' + s2
print(s)

# string subtract : 불가능
s1 = 'Hello'
s2 = 'Hello'
try:
    print(s1-s2)
except Exception as e:
    print("ERROR:", e)

# string multiply
s1 = 'Hello '
s = s1 * 10
print(s)

# slicing
s = 'Hello Python'
print(s[6:])
print(s[0:5])

Hello Python
ERROR: unsupported operand type(s) for -: 'str' and 'str'
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Python
Hello

## 리스트
- 초기화
- 인덱싱, 슬라이싱
- 컴프리헨션
- 내장 메서드

In [8]:
arr = list()
print(arr)

arr = []
print(arr)

arr = [1, 2, 3, 4, 5, 6]
print(arr)
print(arr[3])

[]
[]
[1, 2, 3, 4, 5, 6]
4

In [9]:
n = 10
arr = [True] * n
print(arr)

arr = [1, 2, 3, 4, 5, 6]
print(arr[-1])    # 맨 마지막 원소
print(arr[-3])    # 뒤에서 세 번째 원소
print(arr[3])     # 앞에서 네 번째 원소

print(arr)
print(arr[1:4])
print(arr[::-1]) # reverse

[True, True, True, True, True, True, True, True, True, True]
6
4
4
[1, 2, 3, 4, 5, 6]
[2, 3, 4]
[6, 5, 4, 3, 2, 1]

In [10]:
# List comprehension
arr = [i for i in range(20)]
print(arr)

arr = [i for i in range(10) if i % 2]
print(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9]

In [11]:
# List 2차원 배열(n X m) 만들기
n, m = 5, 7
arr = [[0] * m] * n
print(arr)

[[0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0]]

메서드
- append()
- sort()
- reverse()
- insert()
- count()
- remove()

https://www.w3schools.com/python/python_ref_list.asp  

https://www.programiz.com/python-programming/methods/list

In [12]:
arr = [1,4,3,5]
print(arr)

arr.append(2)
arr.append(3)
arr.append(3)
arr.append(2)
arr.append(2)
print(arr)

arr.sort()
print(arr)
arr.sort(reverse=True)
print(arr)

arr.reverse()
print(arr)

arr.insert(2, 9999)
print(arr)

print(arr.count(2), arr.count(3))

# 특정 값 삭제
arr.remove(2)
print(arr)

# 특정 인덱스 데이터 삭제
arr.pop(2) 
print(arr)
arr.pop()
print(arr)
# pop의 경우, 최악의 경우 O(n)

[1, 4, 3, 5]
[1, 4, 3, 5, 2, 3, 3, 2, 2]
[1, 2, 2, 2, 3, 3, 3, 4, 5]
[5, 4, 3, 3, 3, 2, 2, 2, 1]
[1, 2, 2, 2, 3, 3, 3, 4, 5]
[1, 2, 9999, 2, 2, 3, 3, 3, 4, 5]
3 3
[1, 9999, 2, 2, 3, 3, 3, 4, 5]
[1, 9999, 2, 3, 3, 3, 4, 5]
[1, 9999, 2, 3, 3, 3, 4]

In [13]:
arr = [[1, 2], [99, -1], [15, -99], [-1, 1000], [3, 1], [4, 3]]
print(arr)

arr.sort()
print(arr)

arr.sort(key=lambda x: x[0])
print(arr)

arr.sort(key=lambda x: x[1])
print(arr)

[[1, 2], [99, -1], [15, -99], [-1, 1000], [3, 1], [4, 3]]
[[-1, 1000], [1, 2], [3, 1], [4, 3], [15, -99], [99, -1]]
[[-1, 1000], [1, 2], [3, 1], [4, 3], [15, -99], [99, -1]]
[[15, -99], [99, -1], [3, 1], [1, 2], [4, 3], [-1, 1000]]

## 튜플
- 튜플은 리스트와 비슷함
- 리스트는 소괄호를 이용해 표현.
- 튜플은 한 번 선언된 값을 변경할 수 없다.

In [14]:
a = (1, 2, 3, 4)
print(a)

try:
    a[2] = 3
except Exception as e:
    print('ERROR:', e)

(1, 2, 3, 4)
ERROR: 'tuple' object does not support item assignment

## 딕셔너리형
- json하고 비슷하다고 보면 된다.
- key - value가 연결된 형태

In [15]:
d = dict()
d['이름'] = 'bobae Kim'
d['성별'] = 'male'
d['나이'] = 'age'
d['학교'] = 'gachon'

print(d)

print(d['이름'])
print(d['성별'])
print(d['학교'])
try:
    print(d['몸무게'])
except Exception as e:
    print("ERROR:", e)

print()

for k in d.keys():
    print(k, d[k])

print()

for v in d.values():
    print(v)

{'이름': 'bobae Kim', '성별': 'male', '나이': 'age', '학교': 'gachon'}
bobae Kim
male
gachon
ERROR: '몸무게'

이름 bobae Kim
성별 male
나이 age
학교 gachon

bobae Kim
male
age
gachon

## 집합
- 중복허용 안함.
- 순서가 없다.

In [16]:
s = set([1,2,3,4,5])
print(s)

s = set([1,1,1,1,1,1,2,2,2,2,3])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3}

In [17]:
s1 = s
s2 = {1}

# 합, 교, 차 집합
print(s1 | s2)
print(s1 & s2)
print(s1 - s2)

{1, 2, 3}
{1}
{2, 3}

# 라이브러리

### itertools
`from itertools import permutations`  
`from itertools import combinations`  
`from itertools import product`  
`from itertools import combinations_with_replacement`

### heapq
- heapq.heappush(list, value)
- heapq.heappush(list, -value)
- heapq.heappop(list)

### bisect
`from bisect import bisect_left`  
`from bisect import bisect_right`  

### collections
`from collections import deque`
- appendleft()
- append()
- pop()
- popleft()
  
`from collections import Counter`  

### math
- math.factorial()
- math.sqrt()
- math.gcd()
- math.pi
- math.e